@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {    
    background: hsl(225, 100%, 98%);
    border-radius: 25px;
    line-height: 25px;
}

.hero {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

.content {
    text-align: center;
    font-size: 17px;
}

.content-title{
    color: hsl(223, 47%, 23%);
    padding: 40px 0 0;
    font-size: 30px;
}

.content-discription {
    color: hsl(224, 23%, 55%);
    width: 400px;
    margin: auto;
    padding: 20px;
}

.content-plan {
    display: flex;
    align-items: center;
    padding: 30px;
}

.logo {
    float:left;
    display: flex;
    padding: 0 10px 0 50px;
    
}

.plan-title {
    font-weight: 900;
    float: left;
}

.plan-price {
    color: hsl(224, 23%, 55%);
}

.content a {
    color: hsl(245, 75%, 52%);
    font-weight: bold;
    padding: 0 0 0 30px;
    align-items: center;
}

.button {
    width: 400px;
    margin: auto;
}

.button-proceed {
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border:none;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    cursor: pointer;
    transition: 0.5s all;
    width: 350px;
    height: 50px;
    margin: 15px 0;
}

.button-proceed:hover {
    opacity: 50%;
}

.button-cancel {
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border:none;
    background-color: hsl(225, 100%, 98%);
    color: hsl(224, 23%, 55%);
    cursor: pointer;
    transition: 0.5s all;
    width: 350px;
    height: 50px;
    margin: 0 0 15px;
}

.button-cancel:hover {
    color: hsl(223, 47%, 23%);
}

.footer {
    font-size: 12px;
    text-align: center;
}

.footer a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    

    body {
        background-image: url(/images/pattern-background-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container, .content-discription, .button {
        width: 90vw;
    }

    .content-title {
        font-size: 26px;
    }

    .logo {
        padding: 0 20px 0 20px;
    }

    .content-plan {
        padding: 5vw;
    }

    .content a {
        padding: 0 0 0 18px;
        font-size: 16px;
    }

    .button-proceed, .button-cancel {
        width: 80vw;
    } 

}